/*
  Custom styles for Trackster App
*/

html {
  font-size: 16px;
}

header {
  background-color: rgb(35, 2, 63);
  padding: 2.75rem 0;
}

h1 {
  font-family: "Righteous", cursive;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
  margin-top: 0;
  margin-bottom: 0;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

input {
  color: rgb(191, 191, 191);
  padding: 0.4rem;
  margin-right: 0.7rem;
  border-radius: 15px;
}

input:focus {
  color: rgb(74, 74, 74);
}

#search-button {
  background-color: rgb(255, 102, 204);
  color: rgb(35, 2, 63);
  padding: 0.3rem;
  text-align: center;
  border-radius: 15px;
}

#search-button:hover {
  background-color: rgb(255, 0, 171);
}

.properties {
  background-color: rgb(104, 0, 255);
  color: rgb(255, 255, 255);
  font-family: "Work Sans";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  padding: 0.3rem 0;
}

.song {
  display: flex;
  color: rgb(74, 74, 74);
  font-family: "Work Sans";
  font-size: 1rem;
  line-height: 1.2;
  padding: 0.7rem 0;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.song div {
  display: flex;
  align-items: center;
}

.play-button .fa {
  background-color: transparent;
  color: rgb(255, 0, 171);
}
